@page
@model Proyecto.Frontend.Pages.ListAlojamientoModel
@{

}
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capacidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Opciones</th>
        </tr>
    </thead>
    
    @foreach (var alojamiento in Model.Alojamientos)
    {
        <tr>
        <td>@alojamiento.id</td>
        <td>@alojamiento.Capacidad</td>
        <td>@alojamiento.Estado</td>
        <td>@alojamiento.Ciudad</td>
        <td>@alojamiento.Precio</td>
        <td>@alojamiento.Tipo</td>
        <td>
        <a class="btn btn-info" asp-page="./Details"asp-route-alojamientoId="@alojamiento.id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit" asp-route-alojamientoId="@alojamiento.id">Editar</a>
        <a class="btn btn-danger" href="">Eliminar</a>
        </td>
        </tr>
    }
  
</table>
