@page
@model Proyecto.Frontend.Pages.ListAlojamientosModel
@{

}
<table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Capacidad</th>
        </tr>
    </thead>
    
    @* @foreach (var alojamiento in Model.Alojamientos)
    {
        <tr>
        <td>@alojamiento.id</td>
        <td>@alojamiento.Capacidad</td>
        <td>@alojamiento.Estado</td>
        <td>@alojamiento.Ciudad</td>
        <td>@alojamiento.Precio</td>
        <td>@alojamiento.Tipo</td>
        <td>
        <a class="btn btn-info" asp-page="./Details"
        asp-route-busId="@bus.id"><i class="fas fa-adjust"></i>Ver</a>
        <a class="btn btn-info" asp-page="./Edit"
        asp-route-busId="@bus.id">Editar</a>
        <a class="btn btn-danger" href="">Eliminar</a>
        </td>
        </tr>
    } *@
  
</table>
